body{
    font-family: Verdana;
    font-size: 14px;
    width: 100%;
    max-width: 900px;
    
   margin: auto;
 
 }
 textarea {
    resize: none;
    padding-bottom: 20px;
    width: 100%;
}

.titular{
    font-family: 'Orbitron', sans-serif;
 }
.c-titulos{
    width: 90%;
    margin: auto;
}




.formulario{
   
    width: 100%;
    margin: auto;
    margin-bottom: 50px;
  
   
}
.formulario form{  
  display: block;
    background: #747272;
    border: solid 2px;
    width: 80%;
    margin:auto;
}
.formulario form img{
    float: right;
    margin-top: 40px;
    margin-right: 30px;
    transform: rotate(30deg);
}

.casillas{
    display: block;
    width: 90%;
    padding: 5vw
}

.porcentaje1{
   display: inline-block;
    width: 30%;
    font-weight: bold;
    margin: auto;
}

.porcentaje2{
    display: inline-block;
     font-weight: bold;
 }
.genero label{
    display: block;
}
.formulario button{
    padding: 5px;
    width: 70px;
    margin-left: 20px;
    border: 2px;
    margin-bottom: 20px;
}
@media only screen and (max-width:700px){
    .formulario form{  
        display: block;
          background: #747272;
          border: solid 2px;
          width: 95%;
          margin:auto;
      }
      .c-titulos{
        width: 95%;
        margin: auto;
    }
 }
 @media only screen and (max-width:450px){

 .formulario form img{
     display: none;
 }

}