body{
   margin-left: 250px;
   margin-right: 250px;
   font-family: Verdana;
   font-size: 14px;
   padding-bottom: 0;

}
/* contenido */
.tema{
   width: 100%;
   background: #adacac;
   border:0;
   border-top:2px;
   border-bottom: 2px;
   border-color: red;
   
   border-style:solid;
   
   
}
 .tema h3{
   color: red;
}
 .tema .tema-titulos{
   width: 90%;
   padding-left: 10px;
}
.contenido .c-imagen-texto {
  width: 95%;
  display: block;
  margin: auto;
}
.contenido .c-imagen-texto p {
   display: block;
   width: 100%;
   padding: 0;
}
.tema img{  
   float: left;
   margin-right: 10px;
   margin-bottom:5px ;
}


/* principal */

.c-principal{
   width: 100%;
   display: flex;
}
.c-principal .bloque3{
   display: inline-block;
   width: 50%;
   padding: 30px;
}
.c-principal .bloque4{
   display: inline-block;
   width: 50%;
   padding: 30px;
}

.c-principal img{

   float: left;
   margin-right: 10px;
   margin-bottom:5px ;
}


/* body */
.titular{
   font-family: 'Orbitron', sans-serif;
}


@media only screen and (max-width:1200px){
   body{
       margin-left: 0;
         margin-right: 0;
   }
}


@media only screen and (max-width:500px){
   body{
      font-size:10px;
   }
   .bloque1{
      width: 60%;
   }
   .c-principal{
      width: 90%;
      display: block;
      margin: auto;
   }
   .c-principal .bloque3{
      display: block;
      width: 100%;
      padding: 0;
   }
   .c-principal .bloque4{
      display: block;
      width: 100%;
      padding: 0;
   }
}

@media only screen and (max-width:300px){
   /* header */
   header{
      display: block;
      width: 100%;
   }
   .bloque1{
      width: 100%;
   }
   .bloque2{
      height: 25px;
      width: 100%;
      display: flex;
      justify-content: center;
   }
   .bloque ul{
      width: 100%;
      margin: auto;
   }
   .bloque2 li{
      display: inline-block;
      border: 0;
      width:50px;
      margin-top: 0;
   }


}