body{
   font-family: Verdana;
   font-size: 14px;
   max-width: 900px;
   width: 100%;
   margin: auto;
}

.titurojo{
   color: red;
}
/* contenido */
.tema{
   width: 100%;
   background: #adacac;
   border:0;
   border-top:2px;
   border-bottom: 2px;
   border-color: red;
   border-style:solid; 
}
 .tema h3{
   color: red;
}
 .tema .tema-titulos{
   width: 90%;
   padding-left: 10px;
}
.tema .c-imagen-texto {
  width: 95%;
  display: block;
  margin: auto;
}
.tema .c-imagen-texto p {
   display: block;
   width: 100%;
   padding: 0;
}
.tema img{  
   float: left;
   margin-right: 10px;
   margin-bottom:5px ;
}


/* principal */

.c-principal{
   width: 100%;
   display: flex;
}
.c-principal .bloque3{
   display: inline-block;
   width: 50%;
   padding: 30px;
}
.c-principal .bloque4{
   display: inline-block;
   width: 50%;
   padding: 30px;
}

.c-principal img{

   float: left;
   margin-right: 10px;
   margin-bottom:5px ;
}

/* body */
.titular{
   font-family: 'Orbitron', sans-serif;
}


@media only screen and (max-width:700px){
  
   /* en vez que dos bloques de informacion, habra solo uno */
   .c-principal{
      /* ocupo casi todo el ancho  */
      width: 90%;
      display: block;
      /* centro los margenes par que este centrado el contenendor */
      margin: auto;
   }
   /* NO MAS COLUMNAS */
   .c-principal .bloque3{
      /*  ocupe todo el ancho como un bloque */
      display: block;
      width: 100%;
      padding: 0;
   }
   .c-principal .bloque4{
       /* en vez d k ocupe la mitad del espacio que ocupe todo el ancho */
      display: block;
      width: 100%;
      padding: 0;
   }
}
