<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link href="../css/header.css" rel="stylesheet" type="text/css">
	<link href="../css/footer.css" rel="stylesheet" type="text/css">
	<link href="../css/contacto.css" rel="stylesheet" type="text/css">
	<link href="https://fonts.googleapis.com/css2?family=Orbitron:wght@500&display=swap" rel="stylesheet">
</head>

<body>
    <header>
                <div class="bloque1">
                    <div class="c-imagen">
                        <img src="../images/titulo.png" width="680" alt="">
                    </div>
                </div>
                <div class="bloque2">
                    <ul>
                        <li><a href="../index.html">inicio</a> </li>
                        <li><a href="galeria.html"> galeria</a></li>
                        <li><a href="contacto.html">contacto</a> </li>
                    </ul>
                </div>
        </header>
    <div class="contenido">
        <div class="c-titulos">
                <h1 class="titular">Formulario de contacto</h1>
                <h2 class="titular">Aporta tus sugerencias y ayudanos a mejorar</h2>
                <p>Nos gustaria seguir creciendo y para ello solicitamos colaboración. Tus sugerencias son valiosas para vosotros.</p>

        </div>
        <div class="formulario">
            <form action="mailto:cebanc@cebanc.com" method="post" enctype="text/plain">
                <img src="../images/mariposa_amarilla.png" width="90" alt="">
                
                <div class="casillas">
                        <label class="porcentaje1"  >  Nombre: </label>
                        <input class="porcentaje2"  type="text">
                </div>
                <div class="casillas">
                    <label class="porcentaje1"  > Email: </label>
                        <input  class="porcentaje2" type="email">
                </div>
                <div class="casillas genero">
                        <label>
                            <input type="radio" name="color" value="azul">Hombre  
                        </label>
                        <label>
                            <input type="radio" name="color" value="negro"> Mujer
                        </label>
                </div>
                <div class="casillas">
                        <label   class="porcentaje1" > Conozco la web por: </label>
                        <select  class="porcentaje2" name="OS">
                                <option value="1">Buscadores</option> 
                                <option value="2">Amigos</option> 
                                <option value="3">Publicidad</option>
                                <option value="4">Otros</option> 
                        </select>
                </div>
                <div class="casillas">
                        <label  class="porcentaje1 sugerencia" > Sugerencias: </label>
                        <textarea class="porcentaje2"  name="" id="" cols="60" rows="9">
                        </textarea>
                    </div>   
                
                    <button><strong> Enviar</strong></button>
            </form>
           
        </div> 
    </div>
    
	<footer>
		<div class="c-footer">
			<p class="texto1"></p>Examen de optimización deimagenes, maquetacion web, HTML y CSS</p>
			<p class="texto2">Cebanc | 2020</p>
		</div>		
	</footer>
</body>
</html>