<!DOCTYPE html>
<html lang="es">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<link href="../css/header.css" rel="stylesheet" type="text/css">
	<link href="../css/footer.css" rel="stylesheet" type="text/css">
	<link href="../css/galeria.css" rel="stylesheet" type="text/css">
	<link href="https://fonts.googleapis.com/css2?family=Orbitron:wght@500&display=swap" rel="stylesheet">
	<title>Document</title>
</head>

<body>
	<header>
		<div class="bloque1">
			<div class="c-imagen">
				<img src="../images/titulo.png" width="680" alt="">
			</div>
		</div>
		<div class="bloque2">
			<ul>
				<li><a href="../index.html">inicio</a> </li>
				<li><a href="galeria.html"> galeria</a></li>
				<li><a href="contacto.html">contacto</a> </li>
			</ul>
		</div>
	</header>

	<div class="c-galeria">
		<div class="c-galeria-titulos">
			<h1 class="titular">Galeria de ejemplos</h1>
			<h2 class="titular">Origami-Papiroflexia</h2>
		</div>
		<div class="c-galeria-fotos">
			
				<div class="c-animales">
					<p><strong>Animales</strong> </p>
					<div class="c-animales-fotos">
						<div class="fotos_galeria">
						<img src="../galeria/aguila.jpg" width="150" alt="">
						</div>
						<div class="fotos_galeria">
							<img src="../galeria/elefante.jpg" width="150" alt="">
						</div>
						<div class="fotos_galeria">
							<img src="../galeria/caballo.jpg" width="150" alt="">
						</div>
						<div class="fotos_galeria">
							<img src="../galeria/rana.png" width="150" alt="">
						</div>
						<div class="fotos_galeria">
							<img src="../galeria/flamenco.jpg" width="150" alt="">
						</div>
					</div>
				</div>
				<div class="c-varios">
					<p><strong>Varios</strong></p>
					<div class="c-varios-fotos">
						<div class="fotos_galeria">
						<img src="../galeria/flores.jpg" width="150" alt="">
						</div>
						<div class="fotos_galeria">
							<img src="../galeria/abstracto1.jpg" width="150" alt="">
						</div>
						<div class="fotos_galeria">
							<img src="../galeria/abstracto2.jpg" width="150" alt="">
						</div>
						<div class="fotos_galeria">
							<img src="../galeria/angel.jpg" width="150" alt="">
						</div>
						<div class="fotos_galeria">
							<img src="../galeria/camara.jpg" width="150" alt="">
						</div>
						<div class="fotos_galeria">
							<img src="../galeria/arbol.jpg" width="150" alt="">
						</div>
					</div>
					
				</div>
			</div>
	</div>
	
	

	<footer>
			<div class="c-footer">
				<p class="texto1"></p>Examen de optimización deimagenes, maquetacion web, HTML y CSS</p>
				 <p class="texto2">Cebanc | 2020</p>
			</div>
			
				
		</footer>
</body>

</html>